.header {
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: #fbeec1;
  font-family: "Inter-Regular", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  font-family: Inter-Regular;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 111px;
  height: 56px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
}

.open {
  display: none;
  width: 20px;
  height: 20px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3px;
}

.open span {
  display: block;
  height: 1px;
  width: 20px;
  background: #513d24;
}

.close {
  display: none;
  width: 20px;
  height: 20px;
  padding: 3px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.close span {
  display: block;
  height: 1px;
  width: 20px;
  background: #513d24;
}

.close span:first-child {
  transform: translateY(10px) rotateZ(45deg);
}

.close span:last-child {
  transform: translateY(8.5px) rotateZ(-45deg);
}

.bgFor_aM {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.bgFor_aM_active {
  display: block;
}

.menu__element {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.menu__element:not(:first-child) {
  margin-left: 28px;
}

.menu__element a {
  text-decoration: none;
  color: #513d24;
}

/*** banner ***/

.banner {
  width: 100%;
  min-height: 599px;
  background: no-repeat center/cover url(./../img/banner.jpg);
}

.banner__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 599px;
}

.banner__title {
  display: block;
  position: relative;
  font-family: "Inter-Black";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  color: #ffffff;
}

.banner__title::before {
  content: "";
  display: block;
  position: absolute;
  width: 991px;
  height: 4px;
  background: #fbeec1;
  bottom: -27px;
}

/*** teachers ***/

.title {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #513d24;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 20px;
}

.teachers__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 41px 90px;
  margin-top: 36px;
}

.teacher {
  max-width: 302px;
  padding-bottom: 31px;
  position: relative;
}

.teacher__bgImg {
  width: 250px;
  height: 250px;
  background: #fbeec1;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

.teacher__bgImg img {
  position: absolute;
  width: 230px;
  height: 230px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.teacher__name {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #000000;
  text-align: center;
  margin-top: 12px;
}

.teacher__desc {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #000000;
  margin-top: 12px;
}

.line {
  position: absolute;
  width: 866px;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background: #513d24;
}

/*** history ***/

.history {
  width: 100%;
  background: rgba(251, 238, 193, 0.2);
  min-height: 490px;
}

.history__wrapper {
  margin-top: 30px;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.history__wrapper ul {
  list-style-type: none;
}

.history__wrapper img {
  display: block;
  float: left;
  width: 313px;
  height: 268px;
  margin: 0px 60px 60px 0;
}

/*** news ***/

.news__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 21px;
  padding: 35px 0 60px;
}

.new {
  padding-bottom: 14px;
}

.new__img {
  width: 100%;
  height: 254px;
}

.new__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.new__title {
  position: relative;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
}

.new__link::before {
  content: "";
  display: block;
  background: #fbeec1;
  width: 309px;
  height: 2px;
  position: absolute;
  bottom: 23px;
}

.new__link {
  font-family: "Inder-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}

/*** partners ***/

.partners {
  padding: 32px 0 32px 0;
}

.partners__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.partners__img {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*** footer ***/

.footer {
  background: #bd986b;
  padding: 63px 0;
}

.footer__logo {
  width: 300px;
  height: 155px;
}

.footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__adress {
  font-family: Inter-Regular;
  font-style: normal;
  color: #ffffff;
}

.footer__subtitle {
  font-size: 20px;
  font-family: Inter-Regular;
  font-style: normal;
  color: #ffffff;
}

.footer__adress-item {
  font-size: 15px;
  text-decoration: underline;
}

.footer__imgSC {
  display: flex;
  margin-top: 35px;
}

.link_social:not(:first-child) {
  margin-left: 11px;
}

.footer__adress-item:not(:first-child) {
  margin-top: 24px;
}
